<footer class="bg-green text-inverse">
    <div class="container py-13 py-md-15">
        <div class="row gy-6 gy-lg-0">
            <div class="col-lg-4">
                <div class="widget">
                    <img class="mb-4" src="/front_assets/img/logo-duwhite.png" alt="" />
                    <p class="mb-4 text-white">©  Daulat Umat. All rights reserved.</p>
                    <nav class="nav social social-white">
                        <a href="https://twitter.com/Daulatumat_"><i class="uil uil-twitter"></i></a>
                        <a href="https://www.facebook.com/amildaulatumat"><i class="uil uil-facebook-f"></i></a>
                        <a href="https://www.instagram.com/daulatumat/?hl=en"><i class="uil uil-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCZ6_btYl6a0Lmv0j6Y3FElA/featured"><i class="uil uil-youtube"></i></a>
                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-2 offset-lg-2">
                <div class="widget">
                    <h4 class="widget-title mb-3 text-white">Butuh Bantuan?</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="">Syarat Ketentuan</a></li>
                        <li><a href="">Kebijakan Privasi</a></li>
                        <li><a href="">Pertanyaan Umum</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-2">
                <div class="widget">
                    <h4 class="widget-title mb-3 text-white">Program</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="">Tentang Kami</a></li>
                        <li><a href="">Layanan</a></li>
                        <li><a href="">Kabar</a></li>
                        <li><a href="">Hubungi Kami</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-2">
                <div class="widget">
                    <h4 class="widget-title mb-3 text-white">Alamat</h4>
                    <address class="text-white">Perumahan Pondok Suryakancana No.40 Blok C, RT.001 RW.010</address>
                    0821-1777-7856
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</footer>
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>