<header class="wrapper bg-soft-primary">
    <nav class="navbar center-nav transparent position-absolute navbar-expand-lg navbar-dark caret-none">
        <div class="container flex-lg-row flex-nowrap align-items-center">
            <div class="navbar-brand w-100"><a href="/"><img class="logo-dark" src="/front_assets/img/logo-dugreen.png" alt="" /><img class="logo-light" src="/front_assets/img/logo-duwhite.png" alt="" /></a></div>
            <div class="navbar-collapse offcanvas-nav">
                <div class="offcanvas-header d-lg-none d-xl-none">
                    <a href="/"><img src="/front_assets/img/logo-duwhite.png" alt="" /></a>
                    <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
                </div>
                <ul class="navbar-nav">
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Layanan</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" target="blank_" href="https://wa.me/+6282117777856">Jemput Infaq, Zakat, dan Wakaf</a></li>
                            <li class="nav-item"><a class="dropdown-item" target="blank_" href="https://wa.me/+6282117777856?text=Assalamualaikum%20Warahmatullahi%20Wabarakatuh.%0ADaulat%20Umat.%0A%0ASaya%20ingin%20konfirmasi%20donasi%20Nama%3A%0AEmail%3A%0ANomer%20Telepon%3A%0ANominal%20donasi%2Fzakat%3A">Konfirmasi Infaq, Zakat, dan Wakaf</a></li>
                            <!-- <li class="nav-item"><a class="dropdown-item" href="/ziswaf">Layanan Pembayaran</a></li> -->
                            <li class="nav-item"><a class="dropdown-item" href="/faq">Pertayaan Umum</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Tentang Kami</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" href="/tentang-kami">Latar Belakang</a></li>
                            <li class="nav-item"><a class="dropdown-item scroll" href="#visimisi">Visi, Misi dan Nilai</a></li>
                            <li class="nav-item"><a class="dropdown-item scroll" href="#struktur">Struktur Organinasi</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Kabar</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" href="/artikel">Berita</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="/galeri">Galeri</a></li>
                            <!-- <li class="nav-item"><a class="dropdown-item" href="">Siaran Pers</a></li> -->
                            <li class="nav-item"><a class="dropdown-item" href="/artikel">Publikasi</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/hubungi-kami">Hubungi Kami</a>
                    </li>
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-collapse -->
            <div class="navbar-other w-100 d-flex ms-auto">
                <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
                    <!-- <li class="nav-item dropdown language-select text-uppercase">
                        <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Id</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" href="#">Id</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="#">En</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item d-lg-none">
                        <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
                    </li>
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->
</header>
<!-- /header -->
