<section class="wrapper bg-green">
    <div class="container pt-8 pb-8 pt-md-8 pb-md-8 text-center">
    </div>
    <!-- /.container -->
</section>

<!-- /section -->
<section class="wrapper bg-light wrapper-border">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-7">
                <figure>
                    <a href="http://www.freepik.com">
                        <img class="w-auto" src="front_assets/img/concept/concept.png" alt="" />
                    </a>
                </figure>
            </div>
            <!--/column -->
            <div class="col-lg-5">
                <h2 class="fs-15 text-uppercase text-line text-primary text-center mb-3"></h2>
                <h3 class="display-5 mb-7"></h3>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
                    </div>
                    <div>
                        <h5 class="mb-1"></h5>
                        <address></address>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                    </div>
                    <div>
                        <h5 class="mb-1"></h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>