<section class="wrapper bg-green">
    <div class="container pt-8 pb-8 pt-md-8 pb-md-8 text-center">
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light">
    <div class="container pt-10 pt-md-14">
        <div class="row">
            <div class="col-lg-10 col-xxl-8">
                <h1 class="display-1 mb-0">Galeri kegiatan Daulat Umat.</h1>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="grid grid-view projects-masonry">
            <div class="isotope-filter filter mb-10">
                <p>Filter:</p>
                <ul>
                    <li><a class="filter-item active" data-filter="*">All</a></li>

                    <!-- for loop tag here -->
                    <li><a class="filter-item" data-filter=". here tag slug">tag title</a></li>
                    
                </ul>
            </div>
            <div class="row gx-md-10 gy-10 gy-md-13 isotope">
                <!-- for loop image here -->
                <div class="project item col-md-6 class-tag-slug">
                    <figure class="lift rounded mb-6"><a href=""> <img src="" alt="" /></a></figure>
                    <div class="project-details d-flex justify-content-center flex-column">
                        <div class="post-header">
                            <div class="post-category text-line mb-3 text-purple">tag title</div>
                            <h3 class="post-title">title</h3>
                        </div>
                        <!-- /.post-header -->
                    </div>
                    <!-- /.project-details -->
                </div>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.grid -->
    </div>
    <!-- /.container -->
</section>