<section class="wrapper bg-green">
    <div class="container pt-8 pb-8 pt-md-8 pb-md-8 text-center">
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
            <div class="col-lg-12">
                <img src="/front_assets/img/icons/megaphone.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                <h2 class="display-4 mb-3">{about->latar_title}</h2>
                <p class="lead fs-lg">
                    { about->latar_text }
                </p>
                <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-soft-primary angled upper-start" id="visimisi">
    <div class="container py-14 py-md-16">
        <div class="row mb-5">
            <div class="col-md-10 col-xl-8 col-xxl-7 mx-auto text-center">
                <img src="/front_assets/img/icons/list.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                <h2 class="display-4 mb-4 px-lg-14">{ about->visi_misi_title }</h2>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-10">
            <div class="col-lg-6">
                <h2 class="display-6 mb-3">{ about->visi_title }</h2>
                <p class="lead fs-lg pe-lg-5">
                    {about->visi_text}
                </p>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <h2 class="display-6 mb-3">{about->misi_title}</h2>
                <div class="card me-lg-6">
                    <div class="card-body p-6">
                        <div class="d-flex flex-row">
                            <div>
                                <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">01</span></span>
                            </div>
                            <div>
                                <p class="mb-0">
                                    { about->misi_text }
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                <div class="card ms-lg-13 mt-6">
                    <div class="card-body p-6">
                        <div class="d-flex flex-row">
                            <div>
                                <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">02</span></span>
                            </div>
                            <div>
                                <p class="mb-0">
                                    {about->misi_text2}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.card-body -->
                </div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        
        <div class="row mb-10 pt-10 mt-10">
            <div class="col-xl-10 mx-auto">
                <div class="row align-items-center counter-wrapper gy-6 text-center">
                    <div class="col-md-3">
                        <img src="" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
                        <!-- <h3 class="counter">7518</h3> -->
                        <p>{about->nilai_title1}</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3">
                        <img src="" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
                        <p>{about->nilai_title2}</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3">
                        <img src="" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
                        <p>{about->nilai_title3}</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3">
                        <img src="" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
                        <p>{about->nilai_title4}</p>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light angled upper-end" id="struktur">
    <div class="container py-14 py-md-16">
        <div class="row mb-3">
            <div class="col-md-10 col-xl-9 col-xxl-7 mx-auto text-center">
                <img src="/front_assets/img/icons/team.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                <h2 class="display-4 mb-3 px-lg-14">{about->struktur_title}</h2>
                <img src="" class="text-primary mb-3" alt="" />
            </div>
            <!--/column -->
        </div>
        <!--/.row -->

        <!-- Gambar Struktur -->

    </div>
    <!-- /.container -->
</section>
<!-- /section -->