<section class="wrapper bg-green">
    <div class="container pt-8 pb-8 pt-md-8 pb-md-8 text-center">
    </div>
    <!-- /.container -->
</section>


<section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center py-14 py-md-16 bg-map wrapper-border" data-image-src="/front_assets/img/map.png">
    <div class="container py-0 py-md-18">
        <div class="row">
            <div class="col-lg-6 col-xl-5 mx-auto">
                <h2 class="display-4 mb-3 text-center">Pembayaran {status}</h2>
                <!-- if($code == "00") -->
                <p class="lead mb-5 px-md-16 px-lg-3">Terima kasih Anda telah melakukan donasi di <a href="https://daulatumat.or.id/">Daulat Umat</a>.</p>
                <!-- elseif($code == "01") -->
                <p class="lead mb-5 px-md-16 px-lg-3">Terima kasih Anda telah melakukan donasi di <a href="https://daulatumat.or.id/">Daulat Umat</a>.</p>
                <!-- else -->
                <p class="lead mb-5 px-md-16 px-lg-3">Terima kasih pembayaran Anda telah dibatalkan.</p>
                <!-- endif -->
                <a href="/" class="btn btn-leaf rounded-pill">Kembali ke halaman utama</a>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>