<section class="wrapper bg-green">
    <div class="container pt-8 pb-8 pt-md-8 pb-md-8 text-center">
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light wrapper-border">
    <div class="container py-14 py-md-16">
        <h2 class="display-4 mb-5 text-center">Donasi</h2>
        <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-12">
                <img src="front_assets/img/icons/telemarketer.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
                <div class="shape bg-dot green rellax w-17 h-21" data-rellax-speed="1" style="top: -2rem; left: -1.4rem;"></div>
                <div class="card mb-5">
                    <div class="card-header bg-green">
                        <h4 class="text-white">Pilihan Donasi</h4>
                    </div>
                    <div class="card-body bg-soft-green">
                        <form method="post" action="">
                        @csrf
                        <div class="form-group mb-4">
                            <label for="jenisDonasi">Jenis Donasi</label>
                            <input type="hidden" name="jenisDonasi" value="">
                            <input type="hidden" name="khususDonasi" value="">
                            <input type="text" class="form-control" value="" name="" id="jenisDonasi" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="nominal">Jumlah (Rp.)</label>
                            <input type="text" class="form-control numberOnly" value="" name="nominal" id="nominal" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <!--/column -->
        </div>
        <div class="row gx-md-12 gx-xl-12 mt-6 align-items-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-green">
                        <h4 class="text-white">Metode Pembayaran</h4>
                    </div>
                    <div class="card-body bg-soft-green">

                        <section id="tabs" class="wrapper pb-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="nav nav-tabs nav-pills">
                                        <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#online"><i class="uil uil-shield-check pe-1"></i><span>Online Payment</span></a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#transfer"><i class="uil uil-shop pe-1"></i><span>Transfer Bank</span></a> </li>
                                    </ul>
                                    <!-- /.nav-tabs -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="online">
                                            <ul class="icon-list bullet-bg bullet-soft-primary">
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="OV" name="methodpayment" value="OV" checked>
                                                    <label for="OV" class="form-check-label"><img src="front_assets/img/payment/ovo.png" width="50px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="SP" name="methodpayment" value="SP">
                                                    <label for="SP" class="form-check-label"><img src="front_assets/img/payment/shopeepay.png" width="100px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="LA" name="methodpayment" value="LA">
                                                    <label for="LA" class="form-check-label"><img src="front_assets/img/payment/linkaja.png" height="50px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="SA" name="methodpayment" value="SA">
                                                    <label for="SA" class="form-check-label"><img src="front_assets/img/payment/shopeepayqris.png" width="100px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="FT" name="methodpayment" value="FT">
                                                    <label for="FT" class="form-check-label"><img src="front_assets/img/payment/retail.png" width="100px"></label>
                                                </div>
                                            </li>
                                            </ul>
                                        </div>
                                        <!--/.tab-pane -->
                                        <div class="tab-pane fade" id="transfer">
                                            <ul class="icon-list bullet-bg bullet-soft-primary">
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="A1" name="methodpayment" value="A1">
                                                    <label for="A1" class="form-check-label"><img src="front_assets/img/payment/atmbersama.png" width="75px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="I1" name="methodpayment" value="I1">
                                                    <label for="I1" class="form-check-label"><img src="front_assets/img/payment/bni.jpg" width="50px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="M2" name="methodpayment" value="M2">
                                                    <label for="M2" class="form-check-label"><img src="front_assets/img/payment/mandiri.png" width="90px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="B1" name="methodpayment" value="B1">
                                                    <label for="B1" class="form-check-label"><img src="front_assets/img/payment/cimb.png" width="100px"></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="BT" name="methodpayment" value="BT">
                                                    <label for="BT" class="form-check-label"><img src="front_assets/img/payment/permata.png" width="100px"></label>
                                                </div>
                                            </li>
                                            </ul>
                                        </div>
                                        <!--/.tab-pane -->
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="agreement" class="form-check-input" id="agreement" value="agree">
                                        <label class="form-check-label" for="agreement">Saya setuju</label>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:center;'><strong><span style='font-family:"Calibri",sans-serif;'>IKRAR WAKAF</span></strong></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:center;'><strong><span style='font-family:"Calibri",sans-serif;'>BISMILLAHIRRAHMANIRRAHIM</span></strong></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Yang bertanda tangan di bawah ini saya&nbsp;</span></p>
                                        <p class="mb-1" style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Nama lengkap&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : <input type="text" value="{nama}" name="nama" id="nama" required></span></p>
                                        <p class="mb-1" style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Email&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: <input type="email" value="{email}" name="email" id="email" required></span></p>
                                        <p class="mb-1" style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Nomor HP &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" class="numberOnly" value="{telepon}" name="telepon" id="telepon" required></span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Bertindak untuk dan atas nama&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Pada hari ini&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;: {date->format('l')}</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Tanggal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: {date->format('j F Y')}</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Dengan ini mewakafkan melalui uang sebanyak Rp {nominal} untuk pengadaan harta benda wakaf pohon dengan rincian sebagai berikut:</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>1. &nbsp;{nama_pohon} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: sebanyak {jumlah_pohon} pohon dengan nilai Rp {harga_satu_pohon}/pohon</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Pohon dengan jenis dan jumlah sebagaimana tercantum di atas diwakafkan guna pembangunan kebun agroforestri yang terletak di:</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Blok&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;: Pasir Kolecer</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Desa&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Desa Nanggung</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Kecamatan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Nanggung</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Kabupaten&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Bogor</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Propinsi&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Jawa Barat</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Untuk keperluan &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Peningkatan ekonomi dan perlindungan ekologi</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Wakaf pohon di lokasi tersebut diurus oleh Nazhir yang diwakili oleh:</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Nama lengkap&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Muhammad Azka Fahriza, MA</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Tempat dan Tanggal Lahir/umur&nbsp;&nbsp;&nbsp;&nbsp;: 27 April 1990/34</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Agama&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Islam</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Kewarganegaraan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;: Indonesia</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Tempat tinggal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;: Perumahan Surya Kancana, Blok Joglo, RT.01/RW.10,</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Bubulak, Kec. Bogor Bar., Kota Bogor, Jawa Barat 16115</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Jabatan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Direktur Laziswaf Daulat Umat</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Bertindak untuk dan atas nama&nbsp; &nbsp;&nbsp;&nbsp;: Laziswaf Daulat Umat</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Demikian Ikrar Wakaf ini saya buat atas kehendak sendiri dan tanpa paksaan pihak lain.</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:right;'><span style='font-family:"Calibri",sans-serif;'>Bogor, {date->format('j F Y')}</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:right;'><span style='font-family:"Calibri",sans-serif;'>Wakif,</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:right;'><span id="nama_update" style='font-family:"Calibri",sans-serif;'></span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Saksi:</span></p>
                                        <ol style="list-style-type: decimal;margin-left: -0.25in;">
                                            <li><span style='font-family:"Calibri",sans-serif;'>Mohamad Shohibuddin, S.Ag, M.Si.</span></li>
                                            <li><span style='font-family:"Calibri",sans-serif;'>Adi Dzikrulloh, S.Hut, M.Si.</span></li>
                                            <li><span style='font-family:"Calibri",sans-serif;'>Eka Ernawati, S.Pd.</span></li>
                                        </ol>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Ikrar Wakaf Versi Website</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><strong><em><span style='font-family:"Calibri",sans-serif;'>Ikrar Wakaf Pohon.&nbsp;</span></em></strong><strong><span style='font-family:"Calibri",sans-serif;'>BISMILLAHIRRAHMANIRRAHIM. </span></strong><span style='font-family:"Calibri",sans-serif;'>Dengan meng-klik tombol persetujuan di atas saya <strong>berikrar</strong> mewakafkan uang sejumlah di kolom samping kiri atas untuk pengadaan harta benda wakaf pohon dengan rincian yang sudah saya pilih Pohon dengan jenis dan jumlah sebagaimana tercantum di atas diwakafkan guna pembangunan kebun agroforestri yang terletak di Blok Pasir Kolecer, Desa Nanggung, Kecamatan Nanggung, Kabupaten Bogor, Provinsi Jawa Barat untuk keperluan &nbsp;<strong>peningkatan ekonomi dan perlindungan ekologi</strong></span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Wakaf pohon di lokasi tersebut diurus oleh Nazhir yang diwakili oleh:</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Nama lengkap&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Muhammad Azka Fahriza, MA</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Agama&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;: Islam</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Kewarganegaraan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;: Indonesia</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Tempat tinggal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;: Perumahan Surya Kancana, Blok Joglo, RT.01/RW.10, Bubulak, Kec. Bogor Bar., Kota Bogor, Jawa Barat 16115</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Jabatan&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;: Direktur Laziswaf Daulat Umat</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>Bertindak untuk dan atas nama&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;: Laziswaf Daulat Umat</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:14.2pt;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;'><span style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Demikian Ikrar Wakaf ini saya setujui atas kehendak sendiri dan tanpa paksaan pihak lain.</span></p>
                                        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:115%;font-size:16px;font-family:"Aptos",sans-serif;text-align:justify;'><span style='font-family:"Calibri",sans-serif;'>Saksi:</span></p>
                                        <ol style="list-style-type: decimal;">
                                            <li><span style='font-family:"Calibri",sans-serif;'>Eka Ernawati, S.Pd.</span></li>
                                            <li><span style='font-family:"Calibri",sans-serif;'>Mohamad Shohibuddin, S.Ag, M.Si.</span></li>
                                            <li><span style='font-family:"Calibri",sans-serif;'>Rusman Nurjaman, M.Sc.</span></li>
                                        </ol>

                                        <div class="form-group">
                                            <input class="btn btn-gradient border-0 rounded-pill" type="submit" id="submit" disabled="disabled" value="Donasi Sekarang">
                                        </div>
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </section>
                        </form>
                    </div>
                </div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<script type="text/javascript">
    $('#nama').on('keyup change input', function() {
        var nama = $(this).val();
        $('#nama_update').text(nama);
    });
</script>
<script type="text/javascript" src="front_js/disable.js"></script>
